body {
  font-family: Arial;
  padding: 20px;
  background: #f4f6f9;
}

input, button, select {
  padding: 6px;
  margin: 5px;
}

li {
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
  background: white;
}

.available {
  color: green;
}

.issued {
  color: red;
  text-decoration: line-through;
}

button {
  margin-left: 8px;
}