body {
    font-family: Arial;
    margin: 40px;
}
 
li {
    margin: 8px 0;
    cursor: pointer;
}
 
.completed {
    text-decoration: line-through;
    color: gray;
}
 
button {
    margin-left: 10px;
}
 
 